﻿<div class="breakpoint-tablet breakpoint-desktop breakpoint-desktop-large">
    <div ng-controller="StaticGridContentController" class="grideditor-container static-view-container">
        <div class="usky-editor-placeholder">
            <div ng-if="preview" ng-bind-html-unsafe="preview">
            </div>
        </div>
    </div>
</div>