﻿.content-mapper {
    text-align: left;
}

.content-mapper table {
    table-layout: fixed;
    vertical-align: middle;
}

.content-mapper span {
    font-size: 1.1em;
}

.content-mapper th {
    padding: 12px 0px 12px 4px;
}

.content-mapper td input {
    width: 95%;
}

.content-mapper tbody tr:nth-child(even) {
    background-color: #4C8BF5;
    color: #fff;
}

.content-mapper tbody tr:last-child {
    border-top: 1px solid #f0f8ff;
    background-color: #fff;
    color: #303033;
}

.content-mapper, .full-width {
    width: 100%;
}

[data-mdc-tooltip]:before {
    position: absolute;
    background-color: #616161;
    opacity: .9;
    color: white;
    height: 16px;
    border-radius: 2px;
    padding: 4px 8px;
    font-weight: 400;
    font-size: .75em;
    font-family: 'Roboto';
    margin-top: 22px;
    content: attr(data-mdc-tooltip);
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-top: 0px;
        transform: scale(0.5)
    }

    100% {
        opacity: .9;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-top: 22px;
        transform: scale(1)
    }
}

[data-mdc-tooltip]:hover:before {
    visibility: visible;
    animation: .30s fadeIn;
}
