﻿<div ng-controller="Antonio.ContentMapper" class="content-mapper">
    <umb-panel>
        <p class="intro">

        </p>
        <table class="full-width">
            <thead>
                <tr role="row">
                    <th ng-show="isDebug" style="width: 80px;">Id</th>
                    <th style="width: 325px;">Key <span data-mdc-tooltip="Used to return the mapped content via helper calls. @node:auto populate with new guid">&#x1F6C8;</span></th>
                    <th style="width: 325px;" ng-show="isDebug">Content Id</th>
                    <th style="width: 200px;">Content</th>
                    <th style="width: 110px;">Content Type <span data-mdc-tooltip="@note:content/media">&#x1F6C8;</span></th>
                    <th style="width: 325px;">Info</th>
                    <th style="width: 85px;">Created</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <!-- repeater -->
                <tr ng-repeat="row in contentMapList">
                    <td ng-show="isDebug">{{row.id}}</td>
                    <td>{{row.key}}</td>
                    <td ng-show="isDebug">{{row.contentId}}</td>
                    <td class="content-details">&quot;{{row.content.name}}&quot; <i>{{row.content.nodeId}}</i> {{row.content.udi}}</td>
                    <td>{{row.content.contentType}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.created}}</td>
                    <td><input type="button" value="Edit" disabled="disabled" ng-click="edit(row.id)" /><input type="button" value="Remove" ng-click="deleteMapping(row.id)" /></td>
                </tr>
                <!-- input -->
                <tr>
                    <td ng-show="isDebug">
                        <div class="input-group">
                            <input type="text" readonly="readonly" placeholder="Database id" ng-model="newRow.id" />
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" placeholder="{00000000-0000-0000-0000-000000000000}" ng-model="newRow.key" /><span data-mdc-tooltip="Auto set on create if blank (must be a guid)">&#x1F6C8;</span>
                        </div>
                    </td>
                    <td ng-show="isDebug">
                        <div class="input-group">
                            <input type="text" readonly="readonly" placeholder="Umbraco Node Id" ng-model="newRow.contentId" />
                        </div>
                    </td>
                    <td class="content-details">
                        <div><a href={{newRow.content.udi}} target="_blank">{{newRow.content.name}} {{newRow.content.nodeId}}</a></div>
                        <div class="input-group">
                            <input type="button" style="width: 47%;" ng-click="showContentPicker()" value="Content" />
                            <input type="button" style="width: 47%;" ng-click="showMediaPicker()" value="Media" /></>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" readonly="readonly" placeholder="Content type" ng-model="newRow.content.contentType" />
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" placeholder="Short description" ng-model="newRow.description" />
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" readonly="readonly" placeholder="Created" />
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="button" value="Add" ng-click="addMapping()" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </umb-panel>
</div>
