﻿@using MyUmbraco.Application.Models.Umbraco
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<MyUmbraco.Application.Models.Umbraco.Base>
@{
    var social = Model.Content.Site().OfType<IAnalytics>();
}
@if (social != null && !string.IsNullOrEmpty(social.GoogleTagManager))
{
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@social.GoogleTagManager');</script>
    <!-- End Google Tag Manager -->
}