﻿@using MyUmbraco.Application.Models.Umbraco
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<MyUmbraco.Application.Models.Umbraco.Base>
@{
    var social = Model.Content.Site().OfType<IAnalytics>();
}
@if (social != null && !string.IsNullOrEmpty(social.GoogleTagManager))
{
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=@social.GoogleTagManager"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
}