﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IMeta>
@{
    var title = Model.Content.OpenGraphTitle;
    if (string.IsNullOrEmpty(title))
    {
        title = Model.Content.OfType<Base>().Title;
    }
}
@*
    NOTES:
        Tools for testing and approval
            Twitter Validation Tool
            https://dev.twitter.com/docs/cards/validation/validator
            Before your cards show on Twitter, you must first have your domain approved. Fortunately, it's a super-easy process. After you implement your cards, simply enter your sample URL into the validation tool. After checking your markup, select the "Submit for Approval" button.

            Facebook Debugger
            https://developers.facebook.com/tools/debug

        Not implemented
            Google Structured Data Testing Tool
            http://www.google.com/webmasters/tools/richsnippets

            Pinterest Rich Pins Validator
            http://developers.pinterest.com/rich_pins/validator/
    
        Regarding Images
            Twitter thumbnail: 120x120px
            Twitter large image: 280x150px
            Facebook: Standards vary, but an image at least 200x200px works best. Facebook recommends large images up to 1200x630px wide.
*@

@* Robots *@
    @Html.OptionalMetaTag("name", "robots", Model.Content.MetaRobots)

@* Descrption *@
    @Html.OptionalMetaTag("name", "description", Model.Content.MetaDescription)
    @Html.OptionalMetaTag("name", "keywords", Model.Content.MetaKeywords)

@* Open Graph *@
    @Html.OptionalMetaTag("property", "og:description", Model.Content.OpenGraphDescription)
    @Html.OptionalMetaTag("property", "og:image", Model.Content.OpenGraphImage, 1200, 630)@* Recommended is 1200x630 (1.91:1) also less than 1mb*@
    @Html.OptionalMetaTag("property", "og:title", title)
    @Html.OptionalMetaTag("property", "og:type", Model.Content.OpenGraphType)

@* Scheme.org *@
@*Model.Content.SchemaType -- schema type affects <html itemscope itemtype>*@
    @Html.OptionalMetaTag("itemprop", "description", Model.Content.SchemeDescription)
    @Html.OptionalMetaTag("itemprop", "image", Model.Content.SchemeImage)
    @Html.OptionalMetaTag("itemprop", "name", Model.Content.SchemeName)

@* Twitter *@
    @Html.OptionalMetaTag("name", "twitter:card", Model.Content.TwitterCard)
    @Html.OptionalMetaTag("name", "twitter:creator", Model.Content.TwitterCreator)
    @Html.OptionalMetaTag("name", "twitter:description", Model.Content.TwitterDescription)
    @Html.OptionalMetaTag("name", "twitter:image", Model.Content.TwitterImage)
    @Html.OptionalMetaTag("name", "twitter:site", Model.Content.TwitterSite)
    @Html.OptionalMetaTag("name", "twitter:title", title)
