﻿@using MyUmbraco.Application.Models.Umbraco
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<MyUmbraco.Application.Models.Umbraco.Base>
@{
    var nav = Model.Content.Site().OfType<INavigation>();
}

<header class="hero">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/">
                        <div class="logo">
                            domum
                        </div>
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        @foreach (var item in nav.TopNavigation)
                        {
                            if (item.VisibileChildren().Any())
                            {
                                <div class="menuadd navbar-item has-dropdown is-hoverable">
                                    <a href="https://mod.io/games" class="navbar-item">@item.Name</a>
                                    <div class="navbar-dropdown is-boxed is-hidden-mobile">
                                        @foreach (var subItem in item.VisibileChildren())
                                        {
                                            <a href="@subItem.Url">@subItem.Name</a>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <a href="@item.Url" class="navbar-item">@item.Name</a>
                            }
                        }
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item navbar-search">
                            <div class="field fieldsearch">
                                <form action="todo" id="search-form" method="get">@* search node *@
                                    <div class="field">
                                        <p class="control has-icons-right is-dark">
                                            <input type="search" name="q" maxlength="500" value="" id="search" class="input" placeholder="Search" required="required" autocomplete="off">										<span class="icon is-small is-right"><svg class="fa icon-light-search" aria-label="Search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-light-search"></use></svg></span>
                                        </p>
                                    </div>
                                </form>								
                                <div class="search-suggest" style="position: relative">
                                    <div class="dropdown-menu">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="https://mod.io/members/login/widget" class="navbar-item thickbox is-guest is-hidden-tablet" rel="iframe=true;innerHeight=640;innerWidth=800" target="_self">Login</a>
                        <a href="https://mod.io/members/register/widget" class="navbar-item thickbox is-guest is-hidden-tablet" rel="iframe=true;innerHeight=640;innerWidth=800" target="_self">Sign Up</a>
                        <div class="navbar-item is-hidden-mobile is-paddingless is-guest">
                            <a href="https://mod.io/members/login/widget" class="button thickbox is-text is-nolink is-uppercase" rel="iframe=true;innerHeight=640;innerWidth=800" target="_self"><span class="icon is-small"><svg class="fa icon-light-sign-in"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-light-sign-in"></use></svg></span><span>Login</span></a>
                        </div>
                        <span class="navbar-item is-hidden-mobile is-paddingless is-guest">or</span>
                        <div class="navbar-item is-hidden-mobile is-guest">
                            <a href="https://mod.io/members/register/widget" class="button thickbox is-primary is-uppercase" rel="iframe=true;innerHeight=640;innerWidth=800" target="_self">Sign Up</a>
                        </div>
                    </div>



                </div>
            </div>
        </nav>
    </div>
</header>