﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Banner>
    
<h1>Banner</h1>
<info>
    <h2>Type: DoctypeGridEditor</h2>
    <h3>Doctype Alias(s)</h3>
    <ul>
        <li>'Custom Banner' -> (add dropdown of view picker)</li>
        <li>'Image Text Banner' -> 'Title', 'Sub Text', 'Image', 'Link', 'Text Color' (Black/White) DEFAULT</li>
    </ul>
    <p>Option to extend to Banner Slider</p>
</info>
