﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlogSearch>
    
<h1>Blog Search</h1>
<info>
    <h2>Type: Static</h2>
    <p>Ajax/React powered</p>
    <ul>
        <li>Option to extend with Blog Picker (multi blog site)</li>
        <li>Pagination</li>
        <li>Tags search parameters</li>
    </ul>
</info>

<section>
    <input type="text" placeholder="search"/>
    <button>Search</button>
</section>
