﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<CardList>
    
<h1 class="title is-spaced">@Model.Title</h1>
<h2 class="subtitle">@Model.SubText</h2>
@foreach (var card in Model.Items.OfType<Card>())
{
    <div class="card">
        <a href="@card.Link.Url" target="@card.Link.Target">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="@card.Image.GetCropUrl(width: 1280, height: 960)" alt="TODO">
                </figure>
            </div>
        </a>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">@card.Title</p>
                </div>
            </div>

            <div class="content">
                @card.SubText
            </div>
        </div>
    </div>
}
