﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Card>

<div class="card">
    <a href="@Model.Link.Url" target="@Model.Link.Target">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="@Model.Image.GetCropUrl(width: 1280, height: 960)" alt="TODO">
            </figure>
        </div>
    </a>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">@Model.Title</p>
            </div>
        </div>

        <div class="content">
            @Model.SubText
        </div>
    </div>
</div>