﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ChildPageList>

<section>
    @foreach (var page in Model.FilteredChildren)
    {
        <a href="@page.Url">
            <h2>@page.Title</h2>
            <info>Image?</info>
        </a>
    }
</section>


