﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DownloadLink>
@{
    var extraClasses = string.Empty;
    if (Model.Link.Udi?.EntityType?.Equals("media") ?? false)
    {
        extraClasses = "media";
        //can add file extension classes here if needed
    }
}
<section class="@extraClasses">
    <a href="@Model.Link.Url" target="@Model.Link.Target">
        @Model.Link.Name
    </a>
</section>