﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ImageGallery>

<h1>@Model.Title</h1>
<section>
    @foreach (var item in Model.ImageList.OfType<ImageItem>())
    {
    <a href="@(item?.Link?.Url)" target="@(item?.Link?.Target)">
        <img src="@item.Image.GetCropUrl("Image Gallery")" alt="todo" />@*todo - crop *@
        <span>@item.Text</span>
    </a>
    }
</section>
<info>
    <h2>Type: DoctypeGridEditor</h2>
    <ul>
        <li>Image</li>
        <li>Caption</li>
        <li>Extend - Link</li>
    </ul>
</info>

