﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<LatestEvents>

<h1>Latest Events</h1>
<info>
    <h2>Type: Static</h2>
    <ul>
        <li>(n) latest events - web config parameter</li>
        <li>Option to add featured blog post - convert to DocTypeGridEditor</li>
    </ul>
</info>

