﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<LatestBlogPosts>

<h1>Latest Blog Posts</h1>
<info>
    <h2>Type: Static</h2>
    <ul>
        <li>(n) latest blog posts - web config parameter</li>
        <li>Option to add featured blog post - convert to DocTypeGridEditor</li>
    </ul>
</info>

