﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<object>

<h1>Map</h1>
<info>
    <h2>Type: DoctypeGridEditor</h2>
    <ul>
        <li>Single pin on map</li>
        <li>Text for 'info' box</li>
    </ul>
</info>

