﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<object>

<h1>Search</h1>
<info>
    <h2>Type: Static</h2>
    <p>Ajax/React powered</p>
    <ul>
        <li>Pagination</li>
    </ul>
</info>

<section>
    <input type="text" placeholder="search" />
    <button>Search</button>
</section>
