﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<SiblingPageList>

<section>
    @foreach (var page in Model.FilteredSiblings)
    {
        <a href="@page.Url">
            <span>@page.Title</span>
        </a>
    }
</section>


