﻿@using MyUmbraco.Application.Models.Grid
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SiteMapItem>

<h1>Site Map</h1>
<info>
    <h2>Type: Static</h2>
</info>

<section>
    <ul>
        @RenderNode(Model)
    </ul>
</section>

@helper RenderNode(SiteMapItem node)
{
    <li>@node.Name
        @if (node.Children != null)
        {
            foreach (var c in node.Children)
            {
                @RenderNode(c)
            }
        }
    </li>
}