@import '~bulma/bulma';

//fonts
@import url('https://fonts.googleapis.com/css?family=Catamaran:600|Merriweather+Sans:300|Overpass');

@import 'tools/mixins';

//colors
$flame: #f15025;
$white: #ffffff;
$platinum: #e6e8e6;
$pastel-gray: #ced0ce;
$eerie-black: #191919;

//bulma's global vars
$family-sans-serif: 'Merriweather Sans', Sans-Serif;
$body-size: 15px;
//headings - 'Catamaran', Sans-Serif; @48px
//text - 'Merriweather Sans', Sans-Serif; @15px
$grey-dark: $pastel-gray;
$grey-light: $platinum;
$primary: $flame;
$link: $eerie-black;

//bulma's component vars
$body-background-color: $white;

//logo header config
.logo{
    font-family: 'Overpass', sans-serif;
    font-size: 50px;
    font-weight:700;
    color: $flame;

    display:block;
    width: 263px;
    height: 98px;
    background: url('/Resources/assets/static/images/svg/domum-logo.svg') no-repeat;
    background-size: 85px 98px;

    text-align:right;
    line-height: 98px;
    
    margin-top: 15px;
    margin-bottom:15px;
    margin-right: 25px;

    @include link($flame, $flame, $flame, $flame);
}