﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<MyUmbraco.Application.Models.Umbraco.BlogPost>
@{
    Layout = null;
}

<h1>@Model.Content.Title</h1>
<section class="synposis">
    <div>@string.Format("{0:dddd} the {0:dd} of {0:MMMM yyyy}", Model.Content.ArticleDate)</div>
    <div>@String.Join(", ", Model.Content.Tags)</div>
    @Model.Content.Synposis
</section>
<section class="section">
    @Html.GetGridHtml(Model.Content as IPublishedContent, "bodyContent", "SiteGridRenderer")
</section>