﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<MyUmbraco.Application.Models.Umbraco.Base>
<!DOCTYPE html>
<html lang="en" @Model.Content.SchemaType>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@Model.Content.Title</title>
    @Html.CachedPartial("Meta", Model, 3600, true)
    @Html.CachedPartial("AnalyticsHead", Model, 3600, true)
    @Html.CachedPartial("Styles", Model, 3600, true)

</head>
<body class="page-layout">
@Html.CachedPartial("TopNavigation", Model, 3600, true)
@Html.CachedPartial("AnalyticsBody", Model, 3600, true)
@RenderBody()

@*@Antonio.ContentMapper.ContentMapper.Current.GetContent("3a3a73e5-5d9a-235a-b396-421d9052a10e").Name*@
<script type="text/javascript" src="~/Resources/bundles/vendor.js"></script>
@Html.CachedPartial("BodyScripts", Model, 3600, true)

</body>
</html>