﻿@using MyUmbraco.Application.Services.Interfaces
@{
    Layout = null;
    var exception = (Exception) Model;
    var siteConfig = DependencyResolver.Current.GetService<ISiteConfiguration>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Error</title>

    <link rel="stylesheet" href="~/Resources/bundles/error.css"/>
</head>
<body>
    <section id="not-found">
        <div id="title">Something Went Wrong</div>
        <div class="circles">
            <p>
                Error<br>
                <small>Oops</small>
            </p>
            <span class="circle big"></span>
            <span class="circle med"></span>
            <span class="circle small"></span>
        </div>
    @if (siteConfig.IsDebugging || siteConfig.IsDeveloper(HttpContext.Current))
    {
        var ex = exception;
        <div class="info">
            @while (ex != null)
            {
                <p class="message">@Html.Raw(ex.Message.Replace("\n", "<br />")))</p>
                <p class="trace">@Html.Raw(ex.StackTrace.Replace("\n", "<br />"))</p>
                <hr/>
                ex = ex.InnerException;
            }
        </div>
    }
    </section>
</body>
</html>