
@mixin link ($link, $visit, $hover, $active) {
    a {
      color: $link;
      &:visited {
        color: $visit;
      }
      &:hover {
        color: $hover;   
      }
      &:active {
        color: $active;
      }
    }
  }